<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Card Collector</title>
</head>
<body>
 <%- include('./partials/_navbar.ejs') %>   

  <% if (user) { %>
<h1>Welcome to your Card Collector, <%= user.username %>!</h1>
<% } else { %>
<h1>Welcome to the Card Collector.</h1>
<h3>Your cards. Your vault.</h3>
<p>
  Join us and see your collection come to its virtul life. <br>
  Here, you will be able to build, edit, and remove cards from your collection, and soon (drumroll...) get all the card data from public databases, create listings, and push on eBay and other selling sites. 
</p>
<% } %>


</body>
</html>

