 @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

 body {
   background: #c2c2d8;
   font-family: "DM Sans", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 100vw;
 }

 h1 {
   color: #035d5f;
   font-size: 3.6em;
 }

 footer {
   font-size: 0.7em;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 10px;
 }

 .trading-card {
   height: 20%;
 }

 .navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem 4rem;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

.logo-image {
    height:50px;
    vertical-align: middle;
 }

.add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 1rem;
}

.card-thumb {
  width: 80px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.card-text {
  font-size: 1rem;
}

.card-info {
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 1rem;
}

.idx-edit-link {
    background-color: #2d17419d ;
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 2px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.idx-edit-link:hover {
    background-color: #0056b3;
}

